# Ignore node_modules directories
node_modules
client/node_modules

# Ignore log files
*.log

# Ignore build and temp directories
build
dist
tmp
temp

# Ignore git and version control files
.git
.gitignore

# Ignore Dockerfile and Dockerignore (optional)
Dockerfile
.dockerignore

# Ignore local environment variables and configuration files
.env
.env.local
.env.*.local

# Ignore IDE and editor files
.vscode
.idea

# Ignore macOS and Linux system files
.DS_Store
*.swp

# Ignore frontend build artifacts
client/build
