.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .loading-text {
    font-size: 24px;
    color: #333;
  }
  